html{
    margin: 0px;
    padding: 0px;
}

body{   
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

button{
    background-color: transparent;
    border: None;
}

@keyframes SlideInFromLeft {
    0% {left: -100%;}

    100% {left: 0%;}
}

@keyframes show{
    0% {width: 0;}
    100% {width: 100%}
}

li{
    list-style: none;
}

a{
    color: black;
}

::-webkit-scrollbar
{
    width: 0.7em;
    
}

::-webkit-scrollbar-track
{
    background-color:rgba(0, 121, 187, 0.178);
    
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 36, 56);
    transition: all 300ms;
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: rgba(0, 36, 56, 0.458);
    transition: all 300ms;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.navigation{
    top: 0 !important;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgba(255, 255, 255, 0.996);
    color:rgb(0, 36, 56);
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 10vh;
    z-index: 100;
}

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    /* border: 2px solid black; */
}

.brandIcon{
    justify-self: flex-start;
    max-height: 30px;
    max-width: 30px;
    background: #ff950b;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    animation: 1s ease-in 0.5s 1 SlideInFromLeft;
}

.brandName{
    justify-self: center;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 5px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}

.search-icon{
    width: 25px;
}

.bar{
    width: 100px;
    height: 4vh;
    background-color: #e2e2e2;
    border-radius: 30px;
    text-align: center;
    border: none;
    transition: all 300ms ease-in-out;
}

.searchbar:hover .bar{
    width: 60%;
    text-align:start;
    text-indent: 10px;
    transition: all 300ms ease-in-out;
}

.bar:focus{
    background-color: #ffffff;
    text-align: start;
    text-indent: 10px;
    width: 60%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-evenly;
    border: none;
    padding: 0;
    outline: none;
    gap: 5px;
    font-size: 10px;
    padding: 0px 8px;
    border-radius: 12px;
    transition: all 300ms;
}

.menuIcon{
    width: 15px;
    height: 1px;
    margin: 3px 0;
    background-color: rgb(0, 36, 56);
    transition: all 200ms;
}

.menu-btn{
    font-size: 11px;
}

.nav-btn:hover{
    background-color: rgb(0, 36, 56);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 7px 7px rgb(255, 167, 5);
    transition: all 200ms;
    z-index: 1;
}

.nav-btn:hover .menuIcon{
    background-color: rgb(255, 255, 255);

}

.topAnim{
    transform: rotate(45deg) translateY(0px) translateX(5px)
}

.midAnim{
    opacity: 0;
}

.botAnim{
    transform: rotate(315deg) translateY(-1px) translateX(5px)
}

.menu{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: rgba(106, 106, 106, 0.608);
    color:white;
    height: 90vh;
    text-align: center;
    margin-top: 10vh;
    overflow-x: hidden;
    z-index: 1;
}

.select{
    display: flex;
    flex-direction: column;
    width: 0vw;
    justify-content: center;
    transition: background-color 200ms;
    opacity: 0;
    transition: 100ms ease-in-out;
}

.select.show{
    width: 100vw;
    opacity: 1;
    transition: 100ms ease-in-out;
}

.select:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.337);
    transition: transform 200ms;
}

.select:active{
    transform: scale(1.05);
}

.nav-pfp{
    max-width: 60px;
    max-height: 60px;
}

.pfp-data-container{
    display:flex;
    flex-direction: row;
    gap: 40px;
}
    
.pfp-data-container.set-pfp-container{
    display:flex;
    flex-direction: row;
}

.pfp-data-container.user-data-container{
    display:flex;
    flex-direction: row;
}
.set-pfp-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-left: 5vw;
    width: 250px;
    height: 350px;
    gap: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile-pic{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 150px;
    border-radius: 10px;
    border: 7px solid black;
}

.pfp{
    display: flex;
    width: 150px
}
.profile-name{
    display:flex;
    font-family: 'Montserrat', sans-serif;
}

.profile-set button
{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    transition: border 100ms
}

.publish-button:hover{
    border-radius: 8px;
    border: 2px solid white;
    transform: scale(1.1);
    background-color: rgb(60, 240, 225);
    transition: border 200ms;
    z-index: 1;
}

.delete-profile-button:hover
{
    border-radius: 8px;
    border: 2px solid white;
    transform: scale(1.1);
    background-color: rgb(206, 28, 28);
    transition: border 200ms;
    z-index: 1;
}

.delete-account-container{
    display: grid;
    gap: 40px;
    margin-top: 10vh;
    width: 65vw;
    grid-template-columns: repeat(auto-fill , 200px);
    justify-content: center;
    align-items: center;
}

.delete-account-content-container{
    display: none;
    flex-direction: column;
}

.confirm-delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    transition: border 100ms
}


.cancel-delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    transition: border 100ms
}

.confirm-delete:hover{
    border-radius: 8px;
    border: 2px solid white;
    transform: scale(1.1);
    background-color: rgb(248, 46, 46);
    transition: border 200ms;
    z-index: 1;
}

.cancel-delete:hover{
    border-radius: 8px;
    border: 2px solid white;
    transform: scale(1.1);
    background-color: rgb(163, 172, 159);
    transition: border 200ms;
    z-index: 1;
}
.user-data-nav{
    display: flex;
    margin-top: 20vh;
    width: 65vw;
    justify-content: space-evenly;
}

.user-data-nav button{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    transition: border 100ms
}

.user-data-nav button:focus{
    border-radius: 8px;
    border: 2px solid white;
    transform: scale(1.1);
    background-color: rgb(255, 167, 5);
    transition: border 200ms;
    z-index: 1;
}


.books-liked-container{
    display: grid;
    gap: 40px;
    width: 65vw;
    grid-template-columns: repeat(auto-fill , 200px);
    justify-content: space-evenly;
}

.book-cover{
    width: 150px;
    margin-bottom: 20px;
}

.book-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.book-container:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
    background-color:rgba(243, 243, 243, 0.337);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.book-container:active{
    transform: scale(0.95);
    transition: transform 200ms ease-in-out;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
}

.book > h4{
    text-align: center;
}

.user-reviews-container{
    display: grid;
    gap: 40px;
    width: 65vw;
    grid-template-columns: repeat(auto-fill , 200px);
    justify-content: space-evenly;
}

.review{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.review:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
    background-color:rgba(243, 243, 243, 0.337);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.user-books-added-container{
    display: grid;
    gap: 40px;
    width: 65vw;
    margin-bottom: 10px;
    grid-template-columns: repeat(auto-fill , 300px);
    justify-content: space-evenly;
}

.books-added-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.books-added-container:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
    background-color:rgba(243, 243, 243, 0.337);
}

.books-added{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 70%;
}

.footer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(97, 99, 101);
    width: 100vw;
    margin-top: 100px;
    bottom: 0px;
}

